{% for calendar, events in calendar_events | dictsort %}
#### {{ calendar }}
{% for event in events %}
{% if event.is_all_day %}
  * **ganzer Tag**: {{ event.subject }}{% if event.categories is not none %} ({{ event.categories | join(', ') }}){% elif not event.is_organizer %} ({{event.organizer.name}}){% endif %}
{% else %}
  * **{{ event.start.astimezone() | format_time }} - {{ event.end.astimezone() | format_time }}**: {{ event.subject }}{% if event.categories is not none %} ({{ event.categories | join(', ') }}){% elif not event.is_organizer %} ({{event.organizer.name}}){% endif %}
{% endif %}

{% endfor %}

{% endfor %}
